//Fonts
$font-main: "Work Sans", sans-serif;
$font-Mono: "Space Mono", sans-serif;
$font-Mulish: "Mulish", sans-serif;
$font-Poppins: "Poppins", sans-serif;

//Colors
$main-color: #3B3B3B;
$accent-color: #A259FF;
$text_color: #FFFFFF;
$footer-color: #858584;

