.join_conteiner {
    margin-top: 40px;
}

.join__row {
    @include row;
}

.join__content {
    border-radius: 20px;
    margin: 0 auto;
    background-color: $main-color;
    max-width: 1050px;
    min-height: 430px;
}

.join__margin_photo {
    margin: 60px;
}

.join__margin_text{
    margin-top: 79px;
    margin-right: 60px;
}

.join_p {
    @include fontz($font-main, 38px, 700, $text_color);
}

.join_p2 {
    @include fontz($font-main, 22px, 400, $text_color);
    margin-top: 10px;
}


.join_bottom_w {
    position: relative;
    background-color: $text_color;
    @include fontz($font-main, 16px, 400, black);
    padding-bottom: 19px;
    padding-top: 19px;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 20px;
    margin-top: 40px;
}

.join_bottom_p {
    position: absolute;
    right: 280px;
    background-color: $accent-color;
    @include fontz($font-main, 16px, 700, $text-color);
    padding-bottom: 19px;
    padding-top: 19px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    margin-top: 40px;
}

.join__margin_bottom {
    margin-right: 12px;
}