body{
    background-color: #2b2b2b;
    font-family: $font-main;
    color: $text_color;
    font-size: 16px;
}

a{
    color: $text_color;
    transition: color 0.1s ease-in;

    &:hover {
        color: $accent-color;
        cursor: pointer;
    }
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin bottom_nav {
    @for $i from 1 through 4 {
      &:nth-child(4) {
        background-color: $accent-color;
        border-radius: 20px;
        padding: 1.9vh 3vh;
      }
    }
}

.conteiner {
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 544px;
    max-width: 1050px;
    min-width: 840px;
}

@mixin fontz ($f, $s, $w, $c) {
    font-family: $f;
    font-size: $s;
    font-weight: $w;
    color: $c;
}

@mixin bottom {
    background-color: $accent-color;
    border-radius: 20px;
    padding: 1.9vh 4vh;
    &:hover {
        color: black;
        cursor: pointer;
    }
}

.p1{
    @include fontz($font-main, 38px, 700, $text_color);
}

.p2{
    @include fontz($font-main, 22px, 400, $text_color);
}

.text_margin {
    margin-bottom: 10px;
}

.paint_top_margin {
    margin-top: 60px;
}